[SddmGreeterTheme]
Name=Arch-SDDM
Description=SDDM Theme to go along with my Arch Linux wallpaper
Author=Declan Fledderjohn
Copyright=Copyright (C) 2022 Declan Fledderjohn
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.2
Website=https://github.com/Comrade-Spider/arch-sddm
Screenshot=Arch-sddm_prev.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=decfledd@tutanota.com
Theme-Id=arch-sddm
Theme-API=2.11
